.social {
  background-color: #ededed;
}

.social__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.social__links {
  align-items: center;
  display: flex;

  span {
    color: #6b6b6b;
    font-size: 12px;
    margin-right: 15px;
  }
}